<div class="container-fluid">
    <center>
        <br><br><br><br><br>
        <h1 class="index_title">Trip Planner</h1>
        <br><br><br>
        <form action="{{form_action}}" method="POST" class="index_form">
            <input type="text" id="username" name="username" placeholder="Username" class="form-control">
            <br>
            <input type="password" id="password" name="password" placeholder="Password" class="form-control">
            <br>
            {{#if registering}}
            <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm Password">
            <br><br>
            <button type="submit">Sign Up</button>
            {{else}}
            <br>
            <div class="row">
                <div class="col-6 d-grid">
                    <button type="button" name="sign_up" id="sign_up" class="btn btn-secondary">Sign Up</button>
                </div>
                <div class="col-6 d-grid">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </div>
            {{/if}}
        </form>
        {{#if error}}
        <p class="error">{{error}}</p>
        {{/if}}
    </center>
</div>  
